{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<div class="container wrapper flex-grow-1">
    <div class="mt-4">
        {% bootstrap_messages %}
    </div>
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <h2><a class="text-body-emphasis fw-bold">{{ article.title }}</a></h2>
        {% if article.photo %}
        <p><img src="{{ article.photo.url }}" width="230px" height="150px"></p>
        {% endif %}
        {{ article.content|linebreaks }}
        <br>
         <div class="row p-1">
                    <div class="col">
                        <a class="text-body-emphasis fw-bold" href="#">{% translate 'Edit' %}</a>
                        <br>
                        <a class="text-body-emphasis fw-bold" href="#">{% translate 'Delete' %}</a>
                    </div>
                </div>
    </div>
</div>
{% endblock content %}
