{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<div class="container wrapper flex-grow-1">
    <div class="mt-4">
        {% bootstrap_messages %}
    </div>
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <h2><a class="text-body-emphasis fw-bold">{{ article.title }}</a></h2>
        {% if article.photo %}
        <p><img src="{{ article.photo.url }}" width="230px" height="150px"></p>
        {% endif %}

        <h6>{% translate 'Category' %}: <a class="text-body-emphasis fw-bold"
                                               href="{% url 'category_articles' slug=article.cat.slug %}">{{article.cat.title }}</a></h6>

        {% if article.tags.all %}
	    <div>
		    {% for tag in article.tags.all %}
            <a class="btn btn-outline-secondary" href="{% url 'tags_articles' tag.slug %}">{{ tag }}</a>
            {% endfor %}
	    </div>
        <div>{% translate 'author' %}: {{ article.author.username }}</div>
	{% endif %}

        {{ article.content|safe|linebreaks }}
        <br>

        <div class="row p-1">
            <div class="col">
                <a class="btn mx-2 btn-secondary" href="{% url 'update_articles' slug=article.slug %}">{% translate 'Edit' %}</a>
                <a class="btn mx-2 btn-secondary" href="{% url 'delete_articles' slug=article.slug %}">{% translate 'Delete' %}</a>
            </div>
        </div>
    </div>
</div>
<hr><hr>
<div class="container wrapper flex-grow-1">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
      {% if user.is_authenticated %}
        <form action="{% url 'create_comment' pk=article.pk %}" method="post" class="form">
            {% csrf_token %}

            {% translate 'Add comment' as button_name %}
            {% bootstrap_button button_type="submit" button_class="btn btn-secondary" content=button_name %}
        </form>
        {% else %}
        <p><a class="btn mx-2 btn-secondary" href="{% url 'login' %}">{% translate 'Login up' %} </a>{% translate ' to leave a comment' %}</p>
      {% endif %}
        <br>
        <h4 class="text-body-emphasis fw-bold">{% translate 'User comments:' %}</h4>
        {% if article.comments.all %}
        {% for com in article.comments.all %}
        <p class="btn mx-2 btn-secondary"> {% if com.author.photo %}
            <img src="{{ com.author.photo.url }}" width="70px" height="50px">
            {% endif %}
            {{ com.author.username }} | {{ com.created_at }}
            <br>
        <p>{{ com.comment }}</p>
        <a class="text-body-emphasis fw-bold" href="{% url 'update_comment' pk=com.pk %}">{% translate 'Edit' %}</a>
        <a class="text-body-emphasis fw-bold" href="{% url 'delete_comment' pk=com.pk %}">{% translate 'Delete' %}</a></p>
        <hr>
        {% endfor %}
        {% else %}
        <p>{% translate 'No comments' %}</p>
        {% endif %}
    </div>
</div>
{% endblock content %}
