{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<div class="container wrapper flex-grow-1">

    <div class="mt-4">
        {% bootstrap_messages %}
    </div>

    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        {% load mptt_tags %}
        <div class="card">
            <div class="card-body" style="background-color: #FAF0E6;">
                <h5 class="card-title">{% translate 'Categories' %}</h5>
                {% full_tree_for_model article.Category as categories %}
                <p class="card-text">
                <ul>
                    {% recursetree categories %}
                    <li>
                        <a class="text-body-emphasis fw-bold" href="{{ node.get_absolute_url }}">{{ node.title }}</a>
                    </li>

                    {% if not node.is_leaf_node %}
                    <ul>{% endif %}
                        {{children}}
                        {% if not node.is_leaf_node %}
                    </ul>
                    {% endif %}
                    {% endrecursetree %}
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container wrapper flex-grow-1">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="container wrapper flex-grow-1" >
            {% for article in object_list %}
            <div class="container wrapper flex-grow-1" style="background-color: #FAF0E6;">
            {% if article.is_published %}
            <h2><a class="text-body-emphasis fw-bold" href="{% url 'detail_articles' slug=article.slug %}">{{article.title }}</a></h2>
            {% if article.photo %}
            <p><img src="{{ article.photo.url }}" width="230px" height="150px"></p>
            {% endif %}

            <h6>{% translate 'Category' %}: <a class="text-body-emphasis fw-bold"
                                               href="{% url 'category_articles' slug=article.cat.slug %}">{{article.cat.title }}</a></h6>

            {% if article.tags.all %}
	        <div>
		    {% for tag in article.tags.all %}
            <a class="btn btn-outline-secondary" href="{% url 'tags_articles' tag.slug %}">{{ tag }}</a>
            {% endfor %}
	        </div>
	        {% endif %}

            {% autoescape off %}
            {{ article.content|linebreaks|truncatewords:20 }}
            {% endautoescape %}
            {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}

{% block navigation %}
{% if page_obj.has_other_pages %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        </li>
        {% endif %}

        {% for p in paginator.page_range %}
        {% if page_obj.number == p %}
        <li class="page-link active">{{ p }}</li>
        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
        <li class="page-item">
            <a class="page-link" href="?page={{ p }}">{{ p }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">&gt;</a>
        </li>
        {% endif %}

    </ul>
</nav>
{% endif %}
{% endblock %}
