{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<div class="container wrapper flex-grow-1">
    <div class="mt-4">
        {% bootstrap_messages %}
    </div>
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        {% for article in object_list %}
        {% if article.is_published %}
        <h2><a class="text-body-emphasis fw-bold" href="{% url 'detail_articles' slug=article.slug %}">{{ article.title }}</a></h2>
        {% if article.photo %}
        <p><img src="{{ article.photo.url }}" width="230px" height="150px"></p>
        {% endif %}
        {% autoescape off %}
        {{ article.content|linebreaks|truncatewords:20 }}
        {% endautoescape %}
        <br>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}
